/**
 * @file
 * Custom CSS for foodcents theme
 *
 */


/*
 * Development styles - may be deleted
 */





/*
 * General page layout
 */

#page-wrapper {
	width: 90%;
	margin: 0 auto;
}

body {
	background-image: url(../images/back.jpg);
	background-position: top center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
}

#main {
	background-color: #D6CAA8;	/* Fallback color in case bg img does not load. */
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
	background-image: url(../images/main-bg.png);
}

#site-slogan {
	position: absolute;
	background-color: #F9F2D8;
	right: 10%;
	top: 50px;
	height: 50px;
	width: 400px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#footer {
	color: #FFF;
	background-color: #000;
	padding: 10px;
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
}

#content-wrapper {
	background-image: url(../images/content-bg.jpg);
	background-color: #EFE8D4;
	padding: 10px;
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
}

#main-wrapper {
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
}

#content-inner {
	background-color: #FFFFFF;
	border: 1px solid #996633;
	padding: 10px;
	margin: 10px;
}

#content .section {
	margin: 10px;
}

.sidebar .block {
	background-image: url(../images/content-bg.jpg);
	background-color: #EFE8D4;
	padding: 10px;
	border: 1px solid #996633;
	box-shadow: 0px 0px 3px #555;
	-moz-box-shadow: 0px 0px 3px #555;
	-webkit-box-shadow: 0px 0px 3px #555;
}

.region-sidebar-second .block {
	margin: 10px 10px 10px 0px;
}

#logo {
	margin: 0 0 -45px 45px;
	position: relative;
	z-index: 3;
}





/*
 * Navigation
 */

#block-nice_menus-1 {
	margin: 0;
}

#navigation {
	background-color: #211000;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
	height: 60px;
}

#navigation .section {
	margin-left: 300px;
}

#navigation a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 2em;
	font-weight: bold;
}

#secondary-menu {
	float: right;
	margin: 0 5% 0 0;
}

#secondary-menu li {
	border-right: 1px solid #FFFFFF;
}

#secondary-menu li.last {
	border-right: none;
}

#block-block-1 {
	margin-left: 5%;
}


/*
 * Body Styles
 */

a {
	text-decoration: none;
	color: #AC1616;
}

a:hover {
	color: #73794F;
}

label {
	font-weight: bold;
}

h1.title, h2.title {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.three-col .view-content {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

/*
 * Tables
 */

table {
	width: 100%;
	border: 1px solid #996633;
}

th, thead th, tbody th {
	text-align: center;
	padding: 3px;
}

thead {
	border-bottom: 2px solid #996633;
}

tr.even, tr.odd {
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #996633;
	border-right: 1px solid #996633;
}

td {
	padding: 3px;
	border-right: 1px dotted #FFF;
}

tr.odd {
	background-color: #F0EBE9;
}

tr.even {
	background-color: #FDF8F6;
}

tbody tr:hover {
	background-color: #D6D2D0;
}

tr.views-row-last {
	border-bottom: 1px solid #996633;
}


/*
 * Icons
 */

a.origin {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 36px;
	width: 48px;
	background-repeat: no-repeat;
	background-position: center center;
}

a.term-4 {
	background-image: url(../images/flags/canada.png);
}

a.term-1 {
	background-image: url(../images/flags/bc.png);
}

a.term-2 {
	background-image: url(../images/flags/usa.png);
}

a.term-5 {
	background-image: url(../images/flags/mexico.png);
}

a.term-3 {
	background-image: url(../images/flags/eu.png);
}



/*
 * Add to or Remove from Favorites
 */

td.views-field-ops {
	text-align: center;
}

a.flag {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background-repeat: no-repeat;
	background-position: center center;
}

a.unflag-action {
	background-image: url(../images/favorites/remove.png);
}

a.flag-action {
	background-image: url(../images/favorites/add.png);
}

.flag-message {
	z-index: 10;
	background-color: #FFF;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	box-shadow: 2px 2px 5px #555;
	-moz-box-shadow: 2px 2px 5px #555;
	-webkit-box-shadow: 2px 2px 5px #555;
	padding: 5px 3px;
	width: 200px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.three-col .views-field-ops {
	float: left;
	height: 24px;
	margin-right: 5px;
}

.three-col .views-row {
	clear: left;
}




/*
 * Stores
 */

.node-type-store .vcard {
	margin-top: 15px;
}

.node-type-store .adr .fn {
	font-weight: bold;
}

.node-type-store .location-locations-wrapper {
	float: left;
	width: 33%;
}

.node-type-store .view-store {
	float: right;
	width: 67%;
}

.view-store .item-list ul {
	-moz-column-width: 200px;
	-moz-column-gap: 20px;
	-webkit-column-width: 200px;
	-webkit-column-gap: 20px;
	column-width: 200px;
	column-gap: 20px;
}

.view-store .item-list ul li {
	margin-bottom: 25px;
	display: inline-block;
	height: 100px;
}

.node-type-store .view-id-specials {
	float: right;
	clear: right;
	width: 67%;
}

.gmap {
	border: 1px solid #996633;
}




/*
 * Sidebars
 */

.region-sidebar-second .block h2.title {
	width: 265px;
	height: 38px;
	background-image: url(../images/sidebar-header.gif);
	background-repeat: no-repeat;
	line-height: 38px;
	padding-left: 25px;
	overflow: hidden;
}

.views-exposed-widget select, .views-exposed-widget input {
	width: 225px;
}

.with-navigation .region-sidebar-second {
	margin-top: 60px;
}


/*
 * Twitter Block
 */

#block-views-tweets-block2 {
	background-image: url(../images/torn-paper.png);
	background-position: right center;
	height: 138px;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -10px;
	margin-left: -10px;
	max-width: 959px;
}

#block-views-tweets-block2 .content {
	position: absolute;
	background-color: #F9F2D8;
	left: 20%;
	top: 10px;
	height: 50px;
	width: 500px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}



/*
 * Social Media Block
 */

#block-block-2 {
	margin: 0px 10px 0 0;
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	height: 50px;
	float: right;
}

#block-block-2 .content p {
	margin: 0;
}

#block-block-2 a {
	float: left;
}
