/**
 * @file
 * Custom CSS for foodcents theme
 *
 */


/*
 * Development styles - may be deleted
 */

.hilite {
	background-color: lime;
}







/*
 * General page layout
 */

#page-wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 15px;
}

body {
	background-image: url(../images/back.jpg);
	background-position: top center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #C7FE1F;
}

#main {
	background-color: #D6CAA8;	/* Fallback color in case bg img does not load. */
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
	background-image: url(../images/main-bg.png);
}

#site-slogan {
	position: absolute;
	background-color: #F9F2D8;
	right: 10%;
	top: 50px;
	height: 50px;
	width: 400px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	color: #FFF;
	background-color: #000;
	padding: 10px;
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
}

#content-wrapper {
	background-image: url(../images/content-bg.jpg);
	background-color: #EFE8D4;
	padding: 10px;
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
}

#main-wrapper {
	box-shadow: 0px 0px 5px #555;
	-moz-box-shadow: 0px 0px 5px #555;
	-webkit-box-shadow: 0px 0px 5px #555;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
}

#content-inner {
	background-color: #FFFFFF;
	border: 1px solid #996633;
	padding: 10px;
	margin: 10px;
}

#content .section {
	margin: 10px;
}

.sidebar .block {
	background-image: url(../images/content-bg.jpg);
	background-color: #EFE8D4;
	padding: 10px;
	border: 1px solid #996633;
	box-shadow: 0px 0px 3px #555;
	-moz-box-shadow: 0px 0px 3px #555;
	-webkit-box-shadow: 0px 0px 3px #555;
}

.region-sidebar-second .block {
	margin: 10px 10px 10px 0px;
}

#logo {
	margin: 0 0 -45px 45px;
	position: relative;
	z-index: 3;
}

#content-area .node-teaser, .region-content-bottom .node-teaser {
	margin-bottom: 3em;
	margin-top: 3em;
}

.front .breadcrumb {
	display: none;
}

#node-62 .addtoany {
	display: none;
}


/*
 * Navigation
 */

#block-nice_menus-1 {
	margin: 0;
}

#navigation {
	background-color: #211000;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */
	height: 60px;
}

#navigation .section {
	margin-left: 20%;
}

#navigation a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 2em;
	font-weight: bold;
}

#secondary-menu {
	float: right;
	margin: 0 5% 0 0;
}

#secondary-menu li {
	border-right: 1px solid #FFFFFF;
}

#secondary-menu li.last {
	border-right: none;
}

#block-block-1 {
	margin-left: 5%;
}


/*
 * Body Styles
 */

a {
	text-decoration: none;
	color: #AC1616;
}

a:hover {
	color: #73794F;
}

label {
	font-weight: bold;
}

h1.title, h2.title {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.three-col .view-content {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}

/*
 * Tables
 */

table {
	width: 100%;
	border: 1px solid #996633;
}

th, thead th, tbody th {
	text-align: center;
	padding: 3px;
}

thead {
	border-bottom: 2px solid #996633;
}

tr.even, tr.odd {
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #996633;
	border-right: 1px solid #996633;
}

td {
	padding: 3px;
	border-right: 1px dotted #FFF;
}

tr.odd {
	background-color: #F0EBE9;
}

tr.even {
	background-color: #FDF8F6;
}

tbody tr:hover {
	background-color: #D6D2D0;
}

tr.views-row-last {
	border-bottom: 1px solid #996633;
}


/*
 * Icons
 */

table a.origin {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 36px;
	width: 48px;
	background-repeat: no-repeat;
	background-position: center center;
}

table a.term-4 {
	background-image: url(../images/flags/canada.png);
}

table a.term-1 {
	background-image: url(../images/flags/bc.png);
}

table a.term-2 {
	background-image: url(../images/flags/usa.png);
}

table a.term-5 {
	background-image: url(../images/flags/mexico.png);
}

table a.term-3 {
	background-image: url(../images/flags/eu.png);
}

table a.organic {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

table a.term-6 {
	background-image: url(../images/organic/organic.png);
}

table a.term-7 {
	background-image: url(../images/organic/cog.png);
}

table a.term-8 {
	background-image: url(../images/organic/specialty.png);
}

table a.term-30 {
	background-image: url(../images/organic/vegan.png);
}

table a.term-31 {
	background-image: url(../images/organic/not-vegan.png);
}

table a.term-36 {
	background-image: url(../images/organic/not-organic.png);
}

table a.term-32 {
	background-image: url(../images/organic/gluten-free.png);
}

table a.term-33 {
	background-image: url(../images/organic/not-gluten-free.png);
}

table a.term-34 {
	background-image: url(../images/organic/fair-trade.png);
}

table a.term-35 {
	background-image: url(../images/organic/not-fair-trade.png);
}

.views-field-edit-node a, .views-field-delete-node a  {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-position: center center;
}

table .views-field-edit-node a, table .views-field-delete-node a {
	margin-left: auto;
	margin-right: auto;	
}

.views-field-edit-node a {
	background-image: url(../images/edit.png);
}

.views-field-delete-node a {
	background-image: url(../images/delete.png);
}

table .views-field-edit-node, table .views-field-delete-node {
	display: none;
}

.admin-access table .views-field-edit-node, .admin-access table .views-field-delete-node {
	display: table-cell;
}

table .views-field-addtoany-link {
	text-align: center;
}



/*
 * Legend
 */

table.icon-legend {
	border: none;
}

table.icon-legend th {
	padding: 0;
	text-align: left;
	width: 150px;
	padding-left: 5px;
}

table.icon-legend td {
	border: none;
}



/*
 * Add to or Remove from Favorites
 */

td.views-field-ops {
	text-align: center;
}

a.flag {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	height: 24px;
	width: 24px;
	background-repeat: no-repeat;
	background-position: center center;
}

a.unflag-action {
	background-image: url(../images/favorites/remove.png);
}

a.flag-action {
	background-image: url(../images/favorites/add.png);
}

.flag-message {
	z-index: 10;
	background-color: #FFF;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	box-shadow: 2px 2px 5px #555;
	-moz-box-shadow: 2px 2px 5px #555;
	-webkit-box-shadow: 2px 2px 5px #555;
	padding: 5px 3px;
	width: 200px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.three-col .views-field-ops {
	float: left;
	height: 24px;
	margin-right: 5px;
}

.three-col .views-row {
	clear: left;
}

.flag-wrapper {
	position: inherit;
}




/*
 * Stores
 */

.node-type-store .vcard {
	margin-top: 15px;
}

.node-type-store .adr .fn {
	font-weight: bold;
}

.node-type-store .location-locations-wrapper {
	float: left;
	width: 33%;
}

.node-type-store .view-store {
	float: right;
	width: 67%;
}

.view-store .item-list ul {
	-moz-column-width: 200px;
	-moz-column-gap: 20px;
	-webkit-column-width: 200px;
	-webkit-column-gap: 20px;
	column-width: 200px;
	column-gap: 20px;
}

.view-store .item-list ul li {
	margin-bottom: 25px;
	display: inline-block;
	height: 100px;
}

.node-type-store .view-id-specials {
	float: right;
	clear: right;
	width: 67%;
}

.gmap {
	border: 1px solid #996633;
}




/*
 * Sidebars
 */

.region-sidebar-second .block h2.title {
	width: 265px;
	height: 38px;
	background-image: url(../images/sidebar-header.png);
	background-repeat: no-repeat;
	line-height: 38px;
	padding-left: 25px;
	overflow: hidden;
}

.views-exposed-widget select, .views-exposed-widget input {
	width: 225px;
}

.with-navigation .region-sidebar-second {
	margin-top: 60px;
}

#block-views-favorites-block_1 h3 {
	font-size: 1.1em;
}

#block-views-specials-block_1 ul {
	list-style-type: none;
}


/*
 * Twitter Block
 */

#block-block-3, #block-views-tweets-block_1 {
	background-image: url(../images/torn-paper.png);
	background-position: right center;
	height: 138px;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -10px;
	margin-left: -10px;
	max-width: 959px;
}

#block-views-tweets-block_1 .views-field-nothing-1 {
	position: absolute;
	left: -75px;
}

#block-block-3 .content, #block-views-tweets-block_1 .content {
	position: absolute;
	background-color: #F9F2D8;
	left: 20%;
	top: 10px;
	height: 50px;
	width: 500px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}



/*
 * Social Media Block
 */

#block-block-2 {
	margin: 0px 10px 0 0;
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	height: 50px;
	float: right;
	position: absolute;
	right: 0px;
}

#block-block-2 .content p {
	margin: 0;
}

#block-block-2 a {
	float: left;
}






/*
 * Farmer's Market
 */

.node-type-farmers-market .node-type-farmers-market .field-field-farmers-market-website, .node-type-farmers-market .node-type-farmers-market .field-field-farmers-market-description {
	width: 33%;
	float: left;
	clear: left;
}

.node-type-farmers-market .node-type-farmers-market .view-farmers-markets {
	width: 67%;
}

.node-type-farmers-market .meta {
	display: none;
}