
/*
  This file overrides the layout for the Nice Menus module (http://drupal.org/project/nice_menus).
  This file is called at admin/build/themes/settings.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
}

ul.nice-menu a {
  padding: 2px 5px;
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#navigation ul.nice-menu-down .menuparent ul {
	box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}

#navigation ul.nice-menu-down .menuparent ul li {
	padding: 0;
}

#navigation ul.nice-menu-down .menuparent ul li a {
	color: #000000;
	background-color: #DDB05C;
	border-bottom: 1px dashed #000000;
	padding: 0.2em 5px;
}

#navigation ul.nice-menu-down .menuparent ul li a:hover {
	background-color: #DFC06E;
	color: #211000;
}

ul.nice-menu-down .menuparent ul li.first {
	margin-top: 7px;
}

ul.nice-menu-down .menuparent ul li.last a {
	border-bottom: none;
}

ul.nice-menu-down li.menuparent {
}

ul.nice-menu-down li.menuparent:hover {
}

ul.nice-menu-down li li.menuparent {
  background: #eee url(/sites/all/modules/nice_menus/arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(/sites/all/modules/nice_menus/arrow-right.png) right center no-repeat; /* LTR */
}